<!-- 归档页，展示本站所有文章，按照年份降序归类，url形式：https://yoursite/archives/ -->

<!-- last: 按年份把文章分组，当前遍历到的年份 -->
<!-- now: 当前遍历到的文章的发布年份 -->
<script src="https://cdn.jsdelivr.us/npm/echarts@5.4.3/dist/echarts.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script> -->

<!-- <script src="../source/js/echarts.min.js"></script> -->
<!-- <%- js(['/js/echarts.min.js']) %> -->
<div class="container archives">
  <div id="heatmap" style="height:200px; margin: 0 auto"></div>
  <%
  const postsCountByDate = {};
  site.posts.each((item, index) => {
    let postDate = new Date(item.date);
    // 获取年、月、日
    let formattedDate = postDate.getFullYear() + '-' + (postDate.getMonth() + 1) + '-' + postDate.getDate();
    postsCountByDate[formattedDate] = (postsCountByDate[formattedDate] || 0) + 1;
  });
  %>

  <script>
    // 将 postsCountByDate 绑定到全局对象 window 上
    window.postsCountByDate = <%- JSON.stringify(postsCountByDate) %>;
  </script>
  
  
  
  <script type="text/javascript">


      var chartDom = document.getElementById('heatmap');
      var myChart = echarts.init(chartDom);
      var option;

      function generateRandomData(startDate, endDate) {
        let currentDate = new Date(startDate);
        const endDateObj = new Date(endDate);
        const data = [];
        

        while (currentDate <= endDateObj) {
          let formattedCur = currentDate.getFullYear() + '-' + (currentDate.getMonth() + 1) + '-' + currentDate.getDate();
          const val = postsCountByDate[formattedCur] || 0
          // const val = Math.floor(Math.random() * 100); // 生成 0 到 99 之间的随机数
          data.push([currentDate.toLocaleDateString(), val]);

          currentDate.setDate(currentDate.getDate() + 1);
        }

        return data;
      }

      const startDate = new Date(); //
      startDate.setFullYear(startDate.getFullYear() - 1); // 一年前的日期 e.g 2023.1.10
      // const startDate = moment().subtract(6, 'months').toDate(); // 6个月前的日期 e.g 2023.7.10
      const endDate = new Date(); // 当前日期 e.g 2024.1.10

      const simulatedData = generateRandomData(startDate, endDate);
      let startDate_ = new Date(startDate)
      let endDate_ = new Date(endDate)
      formatted_startDate = startDate_.getFullYear() + '-' + (startDate_.getMonth() + 1) + '-' + startDate_.getDate();
      formatted_endDate = endDate_.getFullYear() + '-' + (endDate_.getMonth() + 1) + '-' + endDate_.getDate();

      option = {
        title: {
          top: 0,
          left: 'center',
          // text: 'Post Contribution'
        },
        tooltip: {},
        visualMap: {
          show: true,
          min: 0,
          max: 3, // 你的数据中的最大值
          calculable: true,
          orient: 'horizontal',
          left: 'right',
          bottom: 10,
          inRange: {
            color: ['#FFFFFF', '#FF0000'] // 白色到其他颜色的渐变色，可以根据需要调整颜色值
          },
          pieces: [
            { value: 0, color: '#FFFFFF' }, // 将值为0的数据映射到白色
            { min: 1 } // 其他数据按照设定的颜色渐变
          ]
        },

        calendar: {
          top: 30,
          left: 30,
          right: 30,
          cellSize: ['auto', 13],
          range: [formatted_startDate, formatted_endDate],
          itemStyle: {
            borderWidth: 0.5
          },
          yearLabel: { show: false }
        },
        series: {
          type: 'heatmap',
          coordinateSystem: 'calendar',
          data: simulatedData
        }
      };

      option && myChart.setOption(option);

      // // 响应式图表
      //   window.addEventListener('resize', function () {
      //     myChart.resize();
      //   });

    
  </script>

  
  <div class="post-list">
    <%
      var prev = -10086;// prev year
      var curr;// curr year, ever step be updated

      site.posts.sort('date', -1).each(function(item, index) {
        curr = item.date.year()
        if (curr !== prev) {
          prev = curr;
      %>
        <!-- 后续文章的发布年份呈现 -->
        <div class="content-title toggle" onclick="togglePosts(<%- curr %>)">
          <h2>
            <span class="arrow<%- curr %>">&#9660;</span> <!-- 初始箭头向下 -->
            <span><%- curr %></span>
          </h2>
        </div>
      <%
        }
      %>

        <div class="post-item y<%- item.date.year() %>" title="<%- item.title %>" style="display: none;">
          <div class="time-m-d"><%- item.date.format("MM-DD") %></div>
          <div class="title">
            <a href="<%- url_for(item.path) %>">
              <span><%- item.title %></span>
            </a>
          </div>
        </div>


    <%
      });
    %>
  </div>
</div>

<style>
  .toggle {
    cursor: pointer;
  }



</style>

<script>
  function togglePosts(elem) {
    let arrow = document.querySelector(`.arrow${elem}`)

    let items = document.querySelectorAll(`.y${elem}`);
    items.forEach((item)=>{
      if (item.style.display==="none"){
        item.style.display="flex"
        arrow.innerHTML = "&#9650;";
      }else{
        item.style.display = "none"
        arrow.innerHTML = "&#9660;";
      }
    })
  }
</script>
